body {
    font-family: 'Arial', sans-serif;
}

.title {
    font-size: 28px;
    margin-bottom: 0;
}

input {
    margin-right: 5px;
    padding: 8px;
    box-sizing: border-box;
}
.js-name-input {
    width: 200px;
}
.js-date-input {
    width: 150px;
}

.add-btn {
    padding: 8px 30px;
    border: 0;
    font-size: 16px;
    color: #fff;
    background-color: green;
    cursor: pointer;
}

.delete-btn {
    padding: 8px 30px;
    border: 0;
    font-size: 16px;
    color: #fff;
    background-color: red;
    cursor: pointer;
}

.todo-grid, .todo-input-grid{
    display: grid;
    margin-top: 20px;
    grid-template-columns: 200px 150px 120px;
    column-gap: 15px;
    row-gap: 12px;
}
.todo-grid div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}